.header_main{
    background-color: #FAFBFC;
    height: 60px;
    display: flex;
    border-bottom:1px solid rgb(231, 231, 231);
}
.header_logo{
    border-right:1px solid rgb(231, 231, 231);
    width:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_right{
    padding-left: 20px;
}